[Desktop Entry]
Type=Application
Name=Adatbázis-szerver indítása
Comment=MariaDB és phpMyAdmin indítása (érettségi adatbázis-feladatokhoz)
Exec=/usr/local/bin/sulinux-database start
Icon=network-server-database
Categories=Development;Database;Education;
