[Desktop Entry]
Type=Application
Name=Sulinux súgó
Comment=Telepítés, érettségi programok, hibaelhárítás (a GitHubon, internet kell hozzá)
Exec=xdg-open https://github.com/laszlorepassy/sulinux#readme
Icon=help-browser
Categories=Education;Documentation;
